@model AllInfoModelView;

@{
    ViewData["Title"] = "Edit Movies";
    Layout = "_TenMovies";
}

<form name="uploadMovie" asp-action="UpDateMovie" asp-controller="Edit" method="post" enctype="multipart/form-data" class="addForm borderR boxShadow">
    <div id="posterForm" class="posterForm rowSpan borderLR">
        <span id="PosterInfo">No poster</span>
        <label id="uploadPoster" for="file-upload">
            <input id="file-upload" accept=".jpg,.png" type="file" name="uploadPoster" />
            upload
        </label>
    </div>
    <div class=" rowSpan dispalayGrid gridTempRow">
        <input hidden asp-for="Id" name="id" />
        <input class="info borderR" asp-for="Title" placeholder="Title" name="title" />
        <input class="info borderR" asp-for="Description" placeholder="Description" name="description" />
        <input class="info borderR" asp-for="Genre" placeholder="Genre" name="genre" />
        <input class="info borderR" asp-for="Runtime" placeholder="Runtime" name="runtime" />
        <input class="info borderR" asp-for="Director" placeholder="Director" name="director" />
        <input class="info borderR" asp-for="Year" placeholder="Year" name="year" />
        <input class="info borderR" asp-for="Actors" placeholder="Actors" name="actors" />
        <input class="info borderR" asp-for="Language" placeholder="Language" name="language" />
        <input class="info borderR" type="submit" value="Изменить" />
    </div>
</form>