.music-management{

    display:grid;
    grid-template-rows:1fr;
    justify-items:center;
    align-items:center;
    height:100%;
}

.item{
    display:flex;
    border:solid 1px green;

}

.font-setting-form{

    color:white;
    font-size:1.2em;
    font-weight:400;
}

.eddit-genre-contener {
    display: grid;
    grid-template-columns: repeat(6,1fr);
    grid-template-rows: repeat(4,0.3fr);
    column-gap: 1%;
    row-gap: 1%;
}

.contener-item {
    display: grid;
    grid-template-rows:1fr 0.1fr;
}

.size-contener {
    height: 100%;
}

.size-footer {
    height: 40%;
}


input[type="file"] {
    display: none;
}

.file-button {
    width: fit-content;
    height: 25px;
    color: white;
    font-weight:700;
    font-size:1.5em;
    cursor: pointer;
    display:inline-block;
}