
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - HW_7_MusicPortal</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/musicPortalMaein.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/HW_7_MusicPortal.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
      
    </header>

        <main class="mainPortal">
        <header class="item1 font-Setting general-background-color main-border">
                <div class="head">
                <div class="user">You are logged in as @Context.Session.GetString("login")</div>
                <div class="logo"><div class="name-logo">Meloman Portal</div></div>
                <nav class="head-menu ">
                    <span>
                        <a asp-action="Loggin" asp-controller="Loggin">Entrer</a>
                    </span>
                    <span>
                        <a asp-action="UserRegistration" asp-controller="Registration">Registration</a>
                    </span>
                    <span>
                        <a asp-action="Index" asp-controller="Home">Home</a>
                    </span>
                </nav>
                </div>
            </header>
        <aside class="item2 general-background-color main-border">
            <main-menu page-action="Index" usr=@Context.Session.GetString("login")></main-menu>
        </aside>
        <section class="item3 main-border">
                @RenderBody()
         
            </section>
        <footer class="item4 general-background-color main-border main-font main-align">
            &#9400  Meloman Portal
            </footer>
        </main>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>

