@{
    Layout = "_AdminLayOut";
}

<div class="start-admin">
    <div class="heder-board" >
        Information board
    </div>
    <div class="info ">
        <div class="card-info r">
            <div class="header-info">All Track</div>
            <div class="content-info">50</div>
            <div class="footer-info"></div>
        </div>
    </div>


</div>