@{
    Layout = "_AdminLayOut";
}

<div class="start-admin">
    <div class="allborder">
        Information board
    </div>
    <div class="info allborder">

        <div class="card-info allborder">
            <div>User for confirm</div>
            <div>25</div>

        </div>
        <div class="card-info allborder">
            <div>All Track</div>
            <div>50</div>
        </div>
        <div class="card-info allborder">
            <div>All categories</div>
            <div>8</div>
        </div>
    </div>


</div>