@model AllInfoModelView

@{

    ViewData["Title"] = "Add Movies";
}




<form asp-action="AddMovies" method="post" enctype="multipart/form-data" class="addForm borderR boxShadow">
    <div id="posterForm" class="posterForm rowSpan borderLR">
        <span id="PosterInfo">No poster</span>
        <label id="uploadPoster" for="file-upload">
            <input id="file-upload" accept=".jpg,.png" type="file" name="uploadPoster" />
            upload
        </label>
    </div>
    <div class=" rowSpan dispalayGrid gridTempRow">
        <span>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        </span>
        <div class="field-group">
            <input class="info borderR" asp-for="Title" placeholder="Title" />
            <span asp-validation-for="Title" class="text-danger"></span>
        </div>

        <div class="field-group">
            <input class="info borderR" asp-for="Description" placeholder="Description" />
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>

        <div class="field-group">
            <input class="info borderR" asp-for="Genre" placeholder="Genre"  />
            <span asp-validation-for="Genre" class="text-danger"></span>
        </div>

        <div class="field-group">
            <input class="info borderR" asp-for="Runtime"placeholder="Runtime"  />
            <span asp-validation-for="Runtime" class="text-danger"></span>
        </div>

        <div class="field-group">
            <input class="info borderR" asp-for="Director"placeholder="Director"  />
            <span asp-validation-for="Director" class="text-danger"></span>
        </div>

         <div class="field-group">
            <input class="info borderR" asp-for="Year" placeholder="Year"  />
            <span asp-validation-for="Year" class="text-danger"></span>
        </div>

        <div class="field-group">
            <input class="info borderR" asp-for="Actors"placeholder="Actors"  />
            <span asp-validation-for="Actors" class="text-danger"></span>
        </div>

        <div class="field-group">
            <input class="info borderR" asp-for="Language"placeholder="Language"/>
            <span asp-validation-for="Language" class="text-danger"></span>
        </div>
        <div class="field-group">
            <input class="info borderR" type="submit" value="Добавить" />
        </div>
    </div>
   
   
</form>

@section Scripts{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
