.addForm {
    display: grid;
    grid-template-rows: 50% 50%;
    grid-template-columns: 0.5fr 0.5fr;
    height: 80%;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    user-select: none;
    left:25%;
    top:13%;

}

.posterForm {
    border: 1px gray dashed;
    background-repeat: no-repeat;
    background-size: contain;
    
    margin:2%;
    text-align:center;
    align-content:center;
    font-size:50px;
    color:rgba(128,128,128,0.5);
}




input[type="file"] {
    display: none;
}

#uploadPoster{
    display: none;
    cursor: pointer;
}
.dispalayGrid {
    display: grid;
}

.gridTempRow {
    grid-template-rows: repeat(9, 0.15fr);
    row-gap:1%;
}



.info {
    font-size: 1.3fr;
    text-align: center;
    align-content: center;
    height:90%;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    font-size:20px;
}


.borderR {
    border-radius: 8px;
}

.borderLR {
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

.boxShadow {
    box-shadow: 3px 3px 5px black,-3px -3px 5px black;
}



