.cardFilm {
    display: grid;
    grid-template-rows: 50% 50%;
    grid-template-columns: 0.5fr 0.5fr;
    height: 90%;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    user-select: none;
    cursor: pointer;
}

.poster {
    background-image: url(https://m.media-amazon.com/images/M/MV5BNmE1OWI2ZGItMDUyOS00MmU5LWE0MzUtYTQ0YzA1YTE5MGYxXkEyXkFqcGdeQXVyMDM5ODIyNw@@._V1_SX300.jpg);
    background-repeat: no-repeat;
    background-size: contain;
}

.rowSpan {
    grid-row-start: 1;
    grid-row-end: 3;
}

.dispalayGrid {
    display: grid;
}

.gridTempRow {
    grid-template-rows: repeat(8, 0.15fr);
}

.bordeAll {
    border: 1px solid black;
}

.info {
    font-size: 1.3fr;
    text-align: center;
    align-content: center;
    border-bottom: 0.3px solid black;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}


.borderR {
    border-radius: 8px;
}

.borderLR {
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

.boxShadow {
    box-shadow: 3px 3px 5px black;
}


.forCard {
    position: absolute;
    position:fixed;
    top:15%;
    left:25%;
    width:75%;
    height:80%;
}